<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<style type="text/css">
		input {
  width: 70%;
  margin:20px;
  height: 30px;
  border-radius: 2px;
}	
	</style>
</head>
<body>
	<center>
	<form action="/form" method="POST">
		<input type="text" name="subject" id="content" placeholder="subject"><br>
		<input type="text" name="qn" placeholder="qn"><br>
		<input type="number" name="op1" placeholder="op1"><br>
		<input type="number" name="op2" placeholder="op2"><br>
		<input type="number" name="op3" placeholder="op3"><br>
		<input type="number" name="op4" placeholder="op4"><br>
		<input type="number" name="op" placeholder="op"><br>
		<input type="submit" name="submit" value="submit">

	</form>
</center>
</body>
</html>